:root {
	--primary-hue: 200deg;
	--primary-saturation: 86%;
	--primary-lightness: 45%;
	--navbar-height: 10rem;
	--menu-height: 7rem;
}

.dark {
  --primary-hue: 200deg;
  --primary-saturation: 86%;
  --primary-lightness: 25%;
}
